<h2 class="mypage-ttl">マイページ：<%= @nickname %>さんの投稿一覧</h2>
<ul id="list">
                       <% @products.each do |product| %>
                       <li><a href="/products/<%= product.id %>"><h4><%= product.title.truncate(24, separator: /\s/) %></h4><div class="item-photo"><%= image_tag product.itemphoto(:medium) %></div><div class="item-bottom"><a href="/categories/<%= product.category.id %>/" class="tag-item"><%= product.category.title %></a><p class="item-ex"><%= product.ex.truncate(50, separator: /\s/) %></p>
<% if product.comments.present? %>
                       <% ave = product.review_average %><span class="rate rate<%= ave.round %>"><%= (ave/2).round(1) %></span>

                       <% else %>
    <span class="rate rate0">0.0</span>
    <% end %>
                       <span class="rate-count">(<%= product.comments.count %>件)</span></a></div>

                       <% if user_signed_in? && product.user_id == current_user.id %>
                       <div class="mypage-update">
        <%= link_to '編集', "/products/#{product.id}/edit", method: :get %>
        <%= link_to '削除', "/products/#{product.id}", method: :delete %>
        </div>
        <% end %>

                       </li>
<% end %>
                    </ul>
                    <div class="clear"></div>
  <%= paginate(@products) %>

<div class="main-inner">
<div class="contents row" >
<h2><%= @nickname %>さんのレビュー一覧</h2><br>
 <% if @comments.present? %>
 <ul id="review">
      <% if @comments %>
        <% @comments.each do |comment| %>
        <h3 class="mypage-review-h3"><%= comment.product.title %>へのレビュー</h3>
          <li class="clearfix review-li">
          <div class="review-face"><%= image_tag comment.user.avatar(:thumb) %></div><div class="review"><% if comment.rate.present? %><% ave = comment.rate %><% else %><!-- 存在present? -->
<% ave = 0 %>
<% end %><span class="rate rate<%= ave.round %>"></span><span class="rate-count"></span><p class="review-date"><%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %> <%= link_to comment.user.nickname, "/users/#{comment.user_id}" %></p><p class="review-txt"><%= comment.review %></p><% if user_signed_in? && comment.user_id == current_user.id %>
        <%= link_to '編集', "/products/#{comment.product.id}/comments/#{comment.id}/edit", method: :get %>
        <%= link_to '削除', "/products/#{comment.product.id}/comments/#{comment.id}", method: :delete %>
        <% end %></div>

          </li><br>
        <% end %>
      <% end %>
      </ul>
<% else %><!-- 存在present? -->
まだレビューが存在しません<br><br>
<% end %><!-- 存在present? -->

    <%= paginate(@products) %>
  </div>
  </div><!-- main-inner -->