<div class="contents row" >
    <p><%= @nickname %>さんの投稿一覧（マイページ）</p>



    <% @products.each do |product| %>
      <div class="content_post" style="background-image: url(<%= product.image %>);">
        <%= simple_format(product.title) %>
        <% if user_signed_in? && product.user_id == current_user.id %>
        <%= link_to '編集', "/products/#{product.id}/edit", method: :get %>
        <%= link_to '削除', "/products/#{product.id}", method: :delete %>
        <% end %>
      </div>
    <% end %>
    <%= paginate(@products) %>
  </div>