<div class="order clearfix">
             <ul>
             <li>評価が高い順</li> | <li><a href="">新着順</a></li>
             </ul>
             </div>
                       <ul id="list">
                       <% @products.each do |product| %>
                       <li><a href="/products/<%= product.id %>"><h4><%= product.title %></h4><div class="item-photo"><img src="<%= product.itemphoto(:medium) %>" width="250"></div><div class="item-bottom"><a href="" class="tag-item">クラウド</a><p class="item-ex"><%= product.ex.truncate(35, separator: /\s/) %></p>
<% if product.comments.present? %>
                       <span class="rate rate4-5"><% ave = product.review_average %><%= (ave/2).round(1) %></span>

                       <% else %>
    評価なし
    <% end %>
                       <span class="rate-count">(レビュー<%= product.comments.count %>件)</span></a></div></li>
<% end %>
                    </ul>
  <%= paginate(@products) %>