 <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <a class="post" href="/tweets/new">投稿する</a>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
      <br>

<% @products.each do |product| %>
<div style="width:300px;border:1px solid #eee;margin-bottom:5px;">
<% if user_signed_in? && current_user.id == product.user_id %>
<%= link_to '編集', "/products/#{product.id}/edit", method: :get %>
 <%= link_to '削除', "/products/#{product.id}", method: :delete %>
 <% end %>
    <p><%= product.title %></p>
    <p><%= product.ex %></p>
    </div>
  <% end %>

  <%= paginate(@products) %>