
<% @products.each do |product| %>
<a href="/products/<%= product.id %>">
<div style="width:300px;border:1px solid #eee;margin-bottom:5px;float:left;">
<% if user_signed_in? && current_user.id == product.user_id %>
 <% end %>

    <p><%= product.title %></p>
    <img src="<%= product.itemphoto(:medium) %>" width="280">
    <p><%= product.ex %></p>
    <% if product.comments.present? %>
    <p>評価の平均点→<% ave = product.review_average %><%= (ave/2).round(1) %></p>
    <p>星表示要員→<%= ave.round %></p>
    <% else %>
    評価なし
    <% end %>
    <p>レビューの件数→<%= product.comments.count %></p>
    </div>
</a>
  <% end %>

  <%= paginate(@products) %>
