  <div class="main-inner">
<h2>新規IoT商品登録</h2><br>
<% if user_signed_in? %><!-- ログイン時 -->
<div id="review-w">
<div class="st-la">
<%= form_for (@product) do |f| %>
<p class="error">(*必須)</p>
  <%= f.label :title, "商品名・サービスタイトル:" %>
<%= f.text_field :title, :class => 'wd-middle required',:placeholder => "例）IoT鍵自動開閉アプリ「ABC」",:minlength => "3" %>
<p class="error">(*必須)</p>
<%= f.label :ex, "商品説明: " %>
<%= f.text_area :ex, :class => 'wd-100 he-90 required',:placeholder => "商品説明を入力",:minlength => "20" %>
<%= f.label :itemphoto, "商品画像: " %>
<%= f.file_field :itemphoto %><br>
<%= f.label :price, "製品価格（税込）:" %>
<%= f.text_field :price, :class => 'wd-mini',:placeholder => "数字のみご記入ください" %>
<%= f.label :pricemonth, "月額利用価格（税込）:" %>
<%= f.text_field :pricemonth, :class => 'wd-mini',:placeholder => "数字のみご記入ください" %>
<%= f.label :category_id, "カテゴリの選択:" %>
<%= select :product, :category_id, [["", "14"],["IoT製品全般", "1"], ["ウェアラブル", "2"],["コネクテッドカー", "3"], ["スマートホーム", "4"], ["スマートシティ", "5"], ["ドローン", "6"], ["ロボット", "7"], ["店舗・オフィス", "8"], ["人工知能", "9"], ["クラウド", "10"], ["ビッグデータ", "11"], ["農業", "12"], ["センサー", "13"], ["その他のIoT", "14"]] %><br><br>
<%= f.label :iot_list, "タグ（カンマ区切り）:" %>
    <%= text_field_tag 'product[iot_list]', @product.iot_list.join(','),:class => 'wd-middle',:placeholder => "例）おしゃれ,スタートアップ,分析" %>
<%= f.label :scene, "利用シーン:" %>
<%= f.text_area  :scene, :class => 'wd-100 he-90',:placeholder => "例）鍵を遠隔で閉めたい時に、airbnbでの利用",:minlength => "5" %>
<%= f.label :detail, "仕様:" %>
<%= f.text_area  :detail, :class => 'wd-100 he-90',:placeholder => "例）液晶サイズ：11.6インチ CPU：Pentium N3700(Braswell)/1.6GHz/4コア SSD容量：128GB メモリ容量：4GB OS：Windows 10 Home 64bit",:minlength => "5" %>
<%= f.label :company, "販売会社:" %>
<%= f.text_field :company, :class => 'wd-middle',:placeholder => "例）株式会社ABC" %>
<%= f.label :url, "WEBサイトURL:" %>
<%= f.text_field :url, :class => 'wd-middle',:placeholder => "例）http://www.yahoo.co.jp/" %>

    <div class="post-button"><%= f.submit %></div>
<% end %>
</div><!-- st-la -->
  </div><!-- review-w -->
  <% else %><!-- そうでない場合 -->
      商品を掲載するためには<%= link_to "ユーザー新規登録", new_user_registration_path, :class => 'post' %>ください
      <% end %>



  </div><!-- main-inner -->