<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
<title>未来百貨</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<header>
<div id="hed-inner">
<div id="hed-left">
<div id="hed-top"><h1 class="hed-top-l">日本最大のIoTサービス・製品のレビューまとめサイト「未来百貨」</h1>
<div class="clear"></div>
</div><!-- hed-top -->
<div id="logo-wrap"><a href="/"><%= image_tag 'logo.png',:class => "logo" %></a></div><!-- logo -->
<div class="input-group">
<%= form_tag('/products/search', method: :get) do %>
                <input class="form-control" name="keyword" placeholder="IoTを検索（製品・サービス）" type="text" value=""><span class="input-group-btn"><button class="btn btn-default" title="検索" type="submit">検索</button></span></input>
<% end %>

</div><!-- input-group -->
</div><!-- hed-left -->
<div id="heder-right">
<% if user_signed_in? %><!-- ログイン時 -->

<div id="popmenu5"><div class="review-face-hed"><%= image_tag current_user.avatar(:thumb) %></div><div id="login-area"><%= current_user.nickname.truncate(13, separator: /\s/) %>さん</div><div style="display:none">
<div id="cont5">
 <ul class="menu-login">
 <li><a href="/users/<%= current_user.id %>"><div class="log-li">マイページ</div></a></li>
 <li><a href="/users/edit"><div class="log-li">アカウント設定</div></a></li>
<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete,:class => "log-li" %></li>
 </ul>
</div><!-- cont5 -->
</div><!-- Modal5 --></div>

<a class="post" href="/products/new"><div id="write">掲載する</div></a><!-- write -->

<% else %><!-- そうでない場合 -->
<ul class="log-right"><li><%= link_to "新規登録", new_user_registration_path, :class => 'post' %></li>|<li><%= link_to "ログイン", new_user_session_path %></li></ul>

<a class="post" href="/products/new"><div id="write">掲載する</div></a><!-- write -->

<% end %>
</div><!-- hed-right -->
<div class="clear"></div>

</div><!-- hed-inner -->
</header>
<div id="contents-wrap">
  <div id="contents">
     <ul id="category">
      <li>IoTカテゴリー：</li>
<% @catettl.each.with_index(1) do |cate, i| %>
<li><a href="/categories/<%= cate.id %>"><%= cate.title %>（<%= cate.products.count %>）</a></li>
<% end %>
                </ul>
            <div id="main">


<%= yield %>

<br>
</div><!-- main -->
              <div id="sidebar">

                <h3>IoT総合ランキング</h3>
                <ul class="ranking">
                <% @ranking.each.with_index(1) do |product, i| %>
                    <% if i<4 %>
                  <li class="clearfix"><a href="/products/<%= product.id %>"><div class="rank rank<%= i %>"><%= i %></div><div class="rank-right"><h5><%= product.title %></h5><div class="side-photo"><%= image_tag product.itemphoto(:medium) %></div><% ave = product.review_average %><span class="rate-side rate<%= ave.round %>"><%= (ave/2).round(1) %></span><span class="rate-count">(<%= product.comments.count %>件)</span></div><!-- rank-right --></a></li>
                  <% else %>
                  <li class="clearfix"><a href="/products/<%= product.id %>"><div class="rank45 rank<%= i %>"><%= i %></div><div class="rank-right"><h5><%= product.title %></h5><% ave = product.review_average %><span class="rate-side rate<%= ave.round %>"><%= (ave/2).round(1) %></span><span class="rate-count">(<%= product.comments.count %>件)</span></div><!-- rank-right --></a></li>
                    <% end %>
                  <% end %>
                </ul>
            </div><!-- sidebar -->
            <div class="clear"></div>
    </div><!-- contentes -->

<div id="tag-wrap">
<div class="tag">
<h3>IoTタグの一覧</h3>
<br>
<% @tagttl.each.with_index(1) do |tag, i| %>
<li><a href="/tags/<%= tag.id %>"><%= tag.title %>（<%= tag.products.count %>）</a></li>
<% end %>
</div><!-- tag -->
</div><!-- tag-wrap -->

            <footer>
            <ul id="footer-menu">
            <li><a href="">IoTとは？3分で分かるIoT</a></li>
            <li><a href="">未来百貨とは</a></li>
            <li><a href="">運営会社</a></li>
            <li><a href="">取材等のお問合せ</a></li>
            <li><a href="">広告掲載について</a></li>
            </ul>
            <p class="copy">(c)copyright <a href="">mirai100.jp</a></p>
            </footer>
    </div><!-- contents-wrap -->

<div id="regi" class="modal">
<h3 class="regi-ttl">無料会員登録</h3>
<a href="" class="regi-sns">Facebookで新規登録</a>
<p><span>または</span></p>
<a href="" class="regi-mail">メールアドレスで新規登録</a>
<br>
<p><a href="" target="_blank">利用規約</a>に同意して、登録します。</p>
</div><!-- regi -->
<div id="login" class="modal">
<h3 class="regi-ttl">ログイン</h3>
<a href="" class="regi-sns">Facebookでログイン</a>
<p><span>または</span></p>
<%= link_to "メールアドレスでログイン", new_user_session_path, :class => "regi-mail" %>

</div><!-- login -->

<div id="head-regi" class="modal">
<h3 class="regi-ttl">ログイン</h3>
<a href="" class="regi-sns">Facebookでログイン</a>
<p><span>または</span></p>
<%= link_to "メールアドレスでログイン", new_user_session_path, :class => "regi-mail" %>
</div><!-- house-regi -->
<script>
$(function(){
 //popModal
 $('#popmenu5').click(function(){
  $('#popmenu5').popModal({
      html : $('#cont5'),
      placement : 'bottomLeft',
      showCloseBut : false,
      onDocumentClickClose : true,
      onDocumentClickClosePrevent : '',
      overflowContent : false,
      inline : true,
      beforeLoadingContent : 'Please, waiting...',
      onOkBut : function() {},
      onCancelBut : function() {},
      onLoad : function() {},
      onClose : function() {}
  });
 });

});
</script>
<script src="assets/jquery.darktooltip.js"></script>
</body>
</html>
